:root {
  --red: #ed1c24;
  --brown: #4e3629;
  --gold: #ffc72c;
  --gray: #98a4ae;
  --skyblue: #59cbe8;
  --emerald: #00b398;
  --navy: #003c71;
  --taupe: #b7b09c;
}

* {
  font-family: "Helvetica";
}

body,
html {
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  background-color: var(--gray);
  /* background-image: url("images/background.png"); */
  text-align: center;
}

h1 {
  font-family: "Helvetica";
  /* font-family: "Merriweather", serif; */
  font-size: 4rem;
  font-weight: 900;
  font-style: italic;
  padding: 20px 0;
  color: var(--brown);
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  padding: 30px;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 0;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  padding: 20px;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
}

li {
  font-size: 1.5rem;
  font-weight: 600;
}

img {
  user-select: none;
  pointer-events: none;
}

footer {
  color: var(--gold);
  background-color: var(--brown);
  border: solid;
  border-color: var(--brown);
}

.lg-view {
  display: inline-block !important;
}

.sm-view {
  display: none !important;
}

.icon {
  background-image: url("./images/icons/chesscompawn.png");
  background-size: 100%;
  /* background-position: 50%; */
  height: 32px;
  width: 32px;
  display: inline-block;
  /* Other styles here */
}

.chess-piece {
  width: 40rem;
  height: auto;
}

.chess-board {
  width: 45rem;
  height: auto;
}

.about-us-background {
  background-color: #def5e5;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.about-us-box {
  color: white;
  background-color: var(--emerald);
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5%;
}

.about-us-icon {
  width: 15rem;
  height: 15rem;
}

.portrait {
  width: 19rem;
  height: 22.5rem;
  border-radius: 10%;
}

.photo {
  width: 70%;
}

.contact-us-icon:hover {
  transform: scale(1.2);
}

.knight {
  width: 15rem;
  height: auto;
  display: -webkit-box;
  margin-left: -7.5%;
  padding: 20px;
}

.h1-clicked {
  color: white;
}

.btn {
  color: var(--navy);
  border-color: var(--navy);
  border-width: 0.2rem;
}

.btn:hover {
  color: white;
  border-color: var(--navy);
  border-width: 0.2rem;
  background-color: var(--navy);
}

@media only screen and (max-device-width: 1024px) {
  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: 8vw;
  }

  h3 {
    font-size: 5vw;
  }

  h4 {
    font-size: 3vw;
  }

  p {
    font-size: 3vw;
  }

  .lg-view {
    display: none !important;
  }

  .sm-view {
    display: inline-block !important;
  }

  .chess-piece {
    max-width: 20rem;
    height: auto;
    padding: 20px;
  }

  .chess-board {
    max-width: 20rem;
    height: auto;
  }

  .icon {
    width: 0.8em;
    height: 0.8em;
  }
}
